<%= render :partial => 'role_header' %>
<div id='roles'>
<%= table_for :roles do %>
  <td><label>Name</label></td>
  <td></td>
  <%= render :partial => @roles %>
<% end %>
</div>
<br/>
<%- system_area do -%>
<h3>New Role</h3>
<%= form_for @role do |f| %>
<p><%= f.error_messages %></p>
<table>
  <tr>
    <td><%= f.label :name, "Name" %></td>
  </tr>
  <tr>
    <td><%= f.text_field :name %></td>
  </tr>
</table>
<p><%= f.submit "Add Role" %></p>
<% end %>
<%- end -%>