<%= render :partial => 'role_header' %>
<h1><%= link_to_unless_current @role.name, role_path(@role), :class => 'header-link' %></h1>
<%- unless_system do -%>
<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Destroy', @role, :confirm => 'Are you sure?', :method => :delete %>
<%- end -%>
<hr/>
<h2>Rights</h2>
<div id='rights'>
  <%= table_for :rights do %>
    <tr>
      <td><label>Name</label></td>
      <td><label>Controller</label></td>
      <td><label>Action</label></td>
      <td><label>Type</label></td>
    </tr>
    <%= render :partial => @rights %>
  <% end %>
</div>