<%= render :partial => 'user_header' %>
<h1><%= link_to_unless_current @user.name, user_path(@user), :class => 'header-link' %></h1>
<%= form_for(@user) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'shared/profile_form', :locals => {:f => f} %>
  <p>
    <%= f.label :role %>
    <%= select_tag :role, options_from_collection_for_select(@roles, "id", "name", @user.role.id) %>
  </p>
  <p>
    <%= f.label :active %>
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>