<tr class="<%= cycle('odd','even') %>">
  <td><%= link_to right.name, right %></td>
  <td><%=h right.controller %></td>
  <td><%=h right.action %></td>
  <td><%=h right.authorization_type %></td>
</tr>