<%= render :partial => 'profile_header' %>
<%= form_for @user, :url => { :action => :update } do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'shared/profile_form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>